<?xml version='1.0' encoding='utf-8'?>
<widget id="it.unimore.morselli.lume" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lume</name>
    <description>
        Lume Planner
    </description>
    <author email="marco.mamei@unimore.it" href="http://www.lumeplanner.it">
        Marco Mamei
    </author>
    <icon src="www/img/home_candle_piccola.png" />
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <preference name="SplashScreen" value="www/img/splash.png" />
        <preference name="SplashScreenDelay" value="6000" />
        <preference name="FadeSplashScreenDuration" value="1000" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/img/splash.png" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="FadeSplashScreenDuration" value="1000" />
        <preference name="SplashScreenWidth" value="500" />
        <preference name="SplashScreenHeight" value="850" />
    </platform>
    <engine name="browser" spec="^5.0.0" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.6.5" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="^0.8.5" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^2.2.5">
        <variable name="ACCOUNT_TYPE" value="$PACKAGE_NAME.account" />
        <variable name="CONTENT_AUTHORITY" value="$PACKAGE_NAME" />
    </plugin>
</widget>
