<!DOCTYPE html>
<html>
<head>
<title>LUME</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/global.js"></script>
<style>

body {
	background-color:#084465;
	color:#ffffff;
	font-weight:bold;
}

.container-fluid {
	margin-top:20px;
	margin-bottom:20px;
}

.title {
	background-color:031b26;
	color:#82a4a6;
	padding:20px;
}

.center {
    margin: 0 auto;
    
}

.btn-default {
	color:#031b26;
	font-weight:bold;
	width: 150px;
}

p {
	margin-left: 20px;
}



</style>

<script>
 $(document).ready(function(){

     $("#restart").click(function() {

         var user = JSON.parse(window.sessionStorage.getItem("user"));
         var city = window.sessionStorage.getItem("city");

         var request = {
             user: user.email,
             email: user.email,
             city: city
         };

         $.postJSON(conf.dita_server + "finish", request, function (data, status) {
             console.log("User plan deleted:" + data);

             window.sessionStorage.setItem("spois",JSON.stringify(new POIS()));
             window.sessionStorage.removeItem("time");
             window.sessionStorage.removeItem("departure");
             window.sessionStorage.removeItem("arrival");
             window.sessionStorage.removeItem("visitplan");
             window.location.href = "home.html";


         });
     });
 });
</script>

</head>
<body>

<div class="container-fluid text-center title">
<h3>Your Visit is Over</h3>
</div>

<div class="container-fluid" style="height:96%;">
    <div class="container-fluid row" style="height:50%;padding-top:5%;">
        <div class="container-fluid row" style="height:auto;">
            <div class="col-md-12">
                <h2 class="hidden-xs hidden-sm">How do you like your Visiting Plan?</h2>
                <h5 class="hidden-md hidden-lg">How do you like your Visiting Plan?</h5>
                <div class="btn-group col-md-12" role="group" id="sequence"  style="width:100%">
                    <button type="button" ng-class="{'active': like0}" class="btn btn-default" ng-click="seq(0)" style="width:50%">I Liked it</button>
                    <button type="button" ng-class="{'active': like1}" class="btn btn-default" ng-click="seq(1)" style="width:50%">I Disliked it</button>
                </div>
            </div>
        </div>
        <div class="container-fluid row" style="height:auto;padding-top:1%;">
            <div class="col-md-12">
                <h2 class="hidden-xs hidden-sm">Has the crowding level met your expectations?</h2>
                <h5 class="hidden-md hidden-lg">Has the crowding level met your expectations?</h5>
                <div class="btn-group col-md-12" role="group" id="crowding" style="width:100%">
                    <button type="button" ng-class="{'active': crowd0}" class="btn btn-default" ng-click="crowd(0)" style="width:50%">As expected</button>
                    <button type="button" ng-class="{'active': crowd1}" class="btn btn-default" ng-click="crowd(1)" style="width:50%">Not satisfied</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row text-center" style="height:30%;padding-top:5%;">
        <div class="col-md-12" style="width:100%">
            <button type="button" class="btn btn-info" id="restart" style="width:100%">Plan your Visits for Tomorrow!</button>
            <img src = "img/logo-text.png" class="img-rounded img-responsive" style="margin-top:20px">
        </div>
    </div>
</div>


</body>
</html>
